@media (max-width: 984px) {
   .card1 {
    left: 90px;
   }
   .card2 {
    right: 8rem;
   }
   .icons-group {
      justify-content: center;
    }

    /* About */
    #aboutMe .row .center {
      justify-content: center;
    }
    #aboutMe .yearEx {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
    }
    #aboutMe .yearEx .year {
      width: 93%;
    }
    #aboutMe .aboutletter {
      padding-left: 0px;
   }
   #aboutMe .aboutText {
      font-size: 13px;
      padding: 0px;
  }
   #aboutMe .textColor {
      font-weight: bolder;
      font-size: 2.5rem;
  }
  #aboutMe .iconPs {
      padding-left: 13px;
  }

}
@media (max-width: 765px) {
    .card1 {
     left: 10px;
    }
    .card2 {
     right: 2rem;
    }
 }
 @media (max-width: 540px) {
    .card1 {
     left: 0px;
    }
    .card2 {
     right: 0rem;
    }
 }