
* {
    font-family: 'Roboto', sans-serif;
}
:root {
    --first-color: blue;
    --second-color: rgb(31, 29, 155);
    --third-color: rgb(61, 13, 128);
    --fourth-color: #fff;
}
p {
    font-size: 14px;
}
body {
    background-color: var(--fourth-color);
    overflow-x: hidden;
}
.main-heading {
    font-size: 2rem;
    color: black;
    text-align: center;
    padding: 90px 0;
}

/* ==== Specialities ==== */
#specialities h6 {
    font-size: 17px;
    font-weight: 900;
}

/* ==== BLOG ==== */
#blog {
    padding: 0 58px;
    padding-top: 100px;
}
#blog img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    transition: all 0.5s;
}
#blog .main-card img:hover {
    transform: scale(1.05);
}
#blog .arrow-icon {
    color:  var(--second-color);
    position: absolute;
    font-size: 25px;
    top: 5px;
    right: 10px;
}
#blog .card-body {
    position: relative;
}

.load {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.load a{
    text-decoration: none;
}
.load .button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: var(--second-color);
    transition: all 0.2s ease;
  }
  
 .load .button:active {
    transform: scale(0.96);
  }
  
 .load .button:before,
 .load .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .load .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, transparent 20%,#3a34df 20%, transparent 30%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #3a34df 15%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .load .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #3a34df 15%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

/* ==== Get In Touch ==== */
#get-in-touch ul li {
    list-style-type: none;
    margin-bottom: 20px;
}
#get-in-touch ul li i{
    border: 1.5px solid var(--second-color);
    color: var(--second-color);
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    width: 38px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    margin-right: 5px;
}
#get-in-touch input {
    padding: 11px 15px;
    border-radius: 5px;
}
#get-in-touch .button a{
    text-decoration: none;
}
#get-in-touch .button {
    position: relative;
    padding: 8px 25px;
    padding: 10px 22px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--fourth-color);
    background-color: var(--second-color);
    transition: all 0.2s ease;
  }
  
#get-in-touch .button:active {
    transform: scale(0.96);
  }
  
#get-in-touch .button:before,
#get-in-touch .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
#get-in-touch .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, transparent 20%,#3a34df 20%, transparent 30%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #3a34df 15%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  #get-in-touch .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #3a34df 15%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%),
      radial-gradient(circle, #3a34df 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }


/* ==== MY SPECIALTIES-button- After ==== */
#specialities button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3E%3C/svg%3E");
}
.accordion-button::after {
    position: absolute;
    top: 12px;
    right: 10px;
}
#specialities button:not(.collapsed){
    background-color: #fff;
}
#specialities button:not(.collapsed) h6{
    color: #000;
}
.accordion-button:focus {
    border-color: #fff;
    box-shadow: none;
}
#specialities button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
}


